/* MAIN */

body {
  font-family: 'Raleway', sans-serif;
}

/* FLEX CONTAINER */

/* .main-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */


.flex-container {
  display: flex;
  flex-flow: row;
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(119, 216, 223);
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
  /* overflow: hidden; */
}

@media (max-width: 1030px) {
  .flex-container {
    width: 800px;
  }
}

@media (max-width: 820px) {
  .flex-container {
    width: 600px;
  }
}

.flex-element {
  flex: 0 0 50%;
  justify-self: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:rgb(173, 223, 247);
}

/* PLAYER CARDS */

.player-name {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
}

.player-score {
  text-align: center;
  font-size:  60px;
  font-weight: 200;
}

.active {
  background-color: rgb(54, 177, 248);
}
