/* MAIN */

body {
  font-family: 'Nanum Gothic', sans-serif;
  background-color: #644d61;
}

/* FLEX CONTAINER */

/* .main-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */


.flex-container {
  display: flex;
  flex-flow: row;
  width: 800px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(119, 216, 223);
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
  /* overflow: hidden; */
}

@media (max-width: 1030px) {
  .flex-container {
    width: 800px;
  }
}

@media (max-width: 820px) {
  .flex-container {
    width: 600px;
  }
}

.player-0-panel,
.player-1-panel {
  flex: 0 0 50%;
  justify-self: center;
  padding-top: 40px;
  padding-bottom: 10px;
  background-color:rgb(236, 243, 247);
}

/* PLAYER CARDS */

.player-name {
  color: rgb(154, 193, 209);
  text-align: center;
  font-size: 30px;
  font-weight: 200;
  margin-top: 50px;
  margin-bottom: 10px;
  position: relative;

}

.player-score {
  color: rgb(91, 174, 207);
  text-align: center;
  font-size:  60px;
  font-weight: 100;
  margin-bottom: 160px;
}

.active {
  background-color: rgb(211, 234, 240);
}

.active .player-name {
  color: rgb(7, 79, 121);
}

.active .player-score {
  color: rgb(7, 79, 121);
}

.current-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(91, 174, 207);
  color: rgb(233, 241, 245);
  width: 25%;
  height: 45px;
  padding-top: 5px;
  margin: 0 auto;
}

/* DICE */
.dice {
  position: absolute;
  left: 50%;
  top: 150px;
  transform: translateX(-50%);
  height: 80px;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.20);
  background-color: rgb(170, 226, 235);
}

/*  BUTTONS */

button {
  position: absolute;
  width: 200px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(6, 126, 156);
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  font-weight: 300;
}

button:hover { font-weight: 500; }
button:hover i { margin-right: 5px; }

button:focus {
  outline: none;
}

.btn-new { top: 20px;}
.btn-roll { top: 300px;}
.btn-hold { top: 360px;}

.btn-disabled {
  pointer-events: none;
  display: none;
}


/* ICONS */
ion-icon {
  color: rgb(34, 103, 124);
  display: inline-block;
  margin-right: 5px;
  font-size: 20px;
  font-weight: 300;
}

/* WINNER */
.winner {
  color: #663860;
  font-weight: 800;
  background-color: rgb(170, 226, 235);
}

/* ABOUT */

.about {
  font-size: 15px;
  font-weight: 100;
  position: absolute;
  width: 200px;
  left: 95%;
}